.profile-pic {
    width: 120px;
    border-radius: 100%;
    border: solid 1px #90EE90;
    display: block;
    margin: 0 auto;
}

.main-container {
    margin: 0px 20%;
    font-family: 'Courier New', Courier, monospace;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.header-image-container {
    margin-right: 15px;
}
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    p {
        text-align: justify;
    }
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* unvisited link */
a:link {
    color: green;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: #8FBC8F;
  }
  
  /* selected link */
  a:active {
    color: green;
  }

.menu {
    margin: 0;
    padding: 0;
}

h7 {
    color: green;
}